@media (max-width: 1339px) {
    .idc-section {
        max-width: 100%;
        min-width: 100%;
    }
    .idc-container {
        max-width: 930px;
    }

    /* *************head************ */

    /* ************about************ */

    /* ************counts*********** */

    /* *************achives************ */

    /* *************life************ */

    /* *************pluses ************ */
}
@media (max-width: 1019px) {
    .idc-container {
        max-width: 610px;
    }

    /* *************head************ */

    /* *************about************ */

    /* *************counts************ */

    /* *************achives************ */

    /* *************life************ */

    /* *************pluses************ */

    /* *************footer************ */
}
@media (max-width: 699px) {
    .idc-container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    /* *************head************ */

    /* *************about************ */

    /* *************counts************ */

    /* *************achives************ */

    /* *************life************ */

    /* *************pluses************ */

    /* *************footer*********** */
}
